@model List<DAL.Models.ArticleTags>
@{
    ViewBag.Title = "Index";
    @inject IHttpContextAccessor HttpContextAccessor;

}

<h2>Index</h2>
@if (HttpContextAccessor.HttpContext.Session.GetString("IsLoggedIn") == "true")
{
    if (HttpContextAccessor.HttpContext.Session.GetString("LoggedInUserType") == "admin")
    {
        <a asp-controller="ArticleTag" asp-action="CreateArticlesTags">Create New ArticlesTags</a>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Article Title</th>
                    <th>Tags Name</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Articles.Title</td>
                        <td>@item.Tags.Name</td>

                        <td>
                            <a class="btn btn-warning" asp-action="EditArticlesTags" asp-route-id="@item.Id">Edit</a>
                        </td>

                        <td>
                            <a class="btn btn-danger" asp-action="DeleteArticlesTags" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="text-danger">لا تملك صلاحيات كافية للوصول لهذه الصفحة</div>
    }
}
else
{
    <div class="text-danger">يجيب تسجيل الدخول اولا </div>
}

