@using DAL.Models
@model List<DAL.Models.Articles>

@{
    ViewData["Title"] = "Home Page";
}



<style type="text/css">
    body {
        background: #e7feff !important;
    }

    .container {
        width: 100%;
        height: auto;
    }

    .boxTitle {
        /*width: 8%;
                                                height: 100px;
                                                background: #93a2a2;
                                                margin: 20px;
                                                box-sizing: border-box;
                                                font-size: medium;*/

        text-align: center; /*مكان الخط*/
        font-size: 22px; /*حجم الخط*/
        margin-bottom: 10px; /*الهامش في الطرف السفلي من العنصر*/
        color: black; /*لون اسم المؤلف*/
        font-size: medium; /*الحجم*/
    }

    .box {
        background-color: #93a2a2; /*لون الخلفية*/
        border: 2px solid black; /*ضبط جميع الإطارات إلى قيمة واحدة،*/
        margin: 20px; /*تضبط الهوامش في الأطراف الأربعة للعنصر،*/
        padding: 20px; /*التباعد بين محتوى عنصر وحدوده*/
        width: 20%; /*تُحدِّد عرض أحد العناصر*/
        display: inline-block; /*وضع العناصر على نفس السطر*/
    }

    .tagbox {
        margin: 10px;
        padding: 5px 10px;
        background-color: #eee;
        color: black;
        border-radius: 25px;
    }

</style>


<!-- Begin Top Author Page
================================================== -->

<h1>اقرا للمؤلف</h1>


<div class="authers-list">
    @foreach (var item in (List<Authors>)@ViewBag.Authors)
    {
        <div class="container-author">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="mainheading">
                        <div class="row post-top-meta authorpage">
                            <div class="col-md-10 col-xs-12">
                                <a asp-controller="Author" asp-action="AuthorDetails" asp-route-AuthorName="@item.Name" asp-route-id="@item.Id">
                                    <h1>@item.Name</h1>
                                </a>

                                <div class="author-description">@item.Topic</div>
                                <div class="sociallinks"><a target="_blank" href="https://www.facebook.com/wowthemesnet/"><i class="fa fa-facebook"></i></a> <span class="dot"></span> <a target="_blank" href="https://plus.google.com/s/wowthemesnet/top"><i class="fa fa-google-plus"></i></a></div>
                                <a target="_blank" href="https://twitter.com/wowthemesnet" class="btn follow">Follow</a>
                            </div>
                            <div class="col-md-2 col-xs-12">
                                <img class="author-thumb" src="@item.Photo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!-- End Author Posts
================================================== -->

<h2>المقالات المضافة حديثا</h2>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-6">
            <div class="card m-2 background-color-blue">
                <div class="row">
                    <div class="col-md-5 wrapthumbnail">
                        <a href="post.html">
                            <div class="thumbnail  img-size" style="background-image:url('@item.Photo');">
                            </div>
                        </a>
                    </div>
                    <div class="col-md-7">
                        <div class="card-block">
                            <h2 class="card-title title-size">
                                <a asp-controller="Article" asp-action="ArticleDetails" asp-route-id="@item.Id">
                                    @item.Title
                                </a>
                            </h2>
                            <div class="metafooter">
                                <div class="wrapfooter">
                                    <span class="meta-footer-thumb">
                                        <a asp-controller="Article" asp-action="ArticleDetails" asp-route-id="@item.Id">
                                            <img class="author-thumb" src="@item.Authors.Photo" alt="">
                                        </a>
                                    </span>
                                    <span class="author-meta">
                                        <span class="post-name"><a asp-controller="Author" asp-action="AuthorDetails" asp-route-id="@item.Id">@item.Authors.Name</a></span><br />
                                        <span class="post-date">22 July 2017</span><span class="dot"></span><span class="post-read">6 min read</span>
                                    </span>
                                    <span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>






<br />





<H5>سحابة الكلمات </H5>

@foreach (Tags item in (List<Tags>)@ViewBag.TagName)
{
    <a asp-controller="Tag" asp-action="TagDetails" asp-route-id="@item.Id">
        <span class="tagbox">@item.Name</span>
    </a>
}
