@using DAL.Models
@model List<DAL.Models.Articles>

@{
    ViewData["Title"] = "Home Page";
}



<style type="text/css">
    body {
        background: #e7feff;
    }

    .container {
        width: 100%;
        height: auto;
    }

    .boxTitle {
        /*width: 8%;
                                height: 100px;
                                background: #93a2a2;
                                margin: 20px;
                                box-sizing: border-box;
                                font-size: medium;*/

        text-align: center; /*مكان الخط*/
        font-size: 22px; /*حجم الخط*/
        margin-bottom: 10px; /*الهامش في الطرف السفلي من العنصر*/
        color: black; /*لون اسم المؤلف*/
        font-size: medium; /*الحجم*/
    }

    .box {
        background-color: #93a2a2; /*لون الخلفية*/
        border: 2px solid black; /*ضبط جميع الإطارات إلى قيمة واحدة،*/
        margin: 20px; /*تضبط الهوامش في الأطراف الأربعة للعنصر،*/
        padding: 20px; /*التباعد بين محتوى عنصر وحدوده*/
        width: 20%; /*تُحدِّد عرض أحد العناصر*/
        display: inline-block; /*وضع العناصر على نفس السطر*/
    }

    .tagbox {
        margin: 10px;
        padding: 5px 10px;
        background-color: #eee;
        color: black;
        border-radius: 25px;
    }

</style>


<!-- Begin Nav
================================================== -->
<nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="container">
        <!-- begin logo -->
        <a class="navbar-brand" href="index.html">
            <img src="assets/img/logo.png" alt="">
        </a>
        <!-- end logo -->
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <!-- begin menu -->
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="index.html">Stories <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="post.html">Post</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="author.html">Author</a>
                </li>
            </ul>
            <!-- end menu -->
            <!-- begin search -->
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search">
                <span class="search-icon"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M20.067 18.933l-4.157-4.157a6 6 0 1 0-.884.884l4.157 4.157a.624.624 0 1 0 .884-.884zM6.5 11c0-2.62 2.13-4.75 4.75-4.75S16 8.38 16 11s-2.13 4.75-4.75 4.75S6.5 13.62 6.5 11z"></path></svg></span>
            </form>
            <!-- end search -->
        </div>
    </div>
</nav>
<!-- End Nav
================================================== -->
<!-- Begin Top Author Page
================================================== -->

<div class="authers-list">
    @foreach (var item in (List<Authors>)@ViewBag.Authors)
    {
        <div class="container-author">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8 col-md-offset-2">
                    <div class="mainheading">
                        <div class="row post-top-meta authorpage">
                            <div class="col-md-10 col-xs-12">
                                <a asp-controller="Author" asp-action="AuthorDetails" asp-route-AuthorName="@item.Name" asp-route-id="@item.Id">
                                    <h1>@item.Name</h1>
                                </a>

                                <div class="author-description">@item.Topic</div>
                                <div class="sociallinks"><a target="_blank" href="https://www.facebook.com/wowthemesnet/"><i class="fa fa-facebook"></i></a> <span class="dot"></span> <a target="_blank" href="https://plus.google.com/s/wowthemesnet/top"><i class="fa fa-google-plus"></i></a></div>
                                <a target="_blank" href="https://twitter.com/wowthemesnet" class="btn follow">Follow</a>
                            </div>
                            <div class="col-md-2 col-xs-12">
                                <img class="author-thumb" src="@item.Photo">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<!-- End Author Posts
================================================== -->
































































<br />
<h5>المقالات الماضافة حديثا</h5>
<ol>
    @foreach (var item in Model)
    {
        <li>
            <a asp-controller="Article" asp-action="ArticleDetails" asp-route-id="@item.Id">
                @item.Title
            </a>

            ( @(item.ViewsCount) مشاهدات)
        </li>
    }
</ol>

<br />

<h5>اقرا للمؤلف</h5>

<ol>
    @foreach (var item in (List<Authors>)@ViewBag.Authors)
    {
        <div class="box">
            <a asp-controller="Author" asp-action="AuthorDetails" asp-route-AuthorName="@item.Name" asp-route-id="@item.Id">
        <li>
            <div class="boxTitle">@item.Name</div>
        </li>
        <div class="boxTitle">
            <img src="@item.Photo" height="100">
        </div>
        </a>
        </div>
    }

</ol>
<br />

<H5>سحابة الكلمات </H5>

@foreach (Tags item in (List<Tags>)@ViewBag.TagName)
{
    <a asp-controller="Tag" asp-action="TagDetails" asp-route-id="@item.Id">
        <span class="tagbox">@item.Name</span>
    </a>
}
