@model DAL.Models.Articles
@{
    ViewBag.Title = "Search";
}

<h2>Search</h2>

<style type="text/css">
    .box {
        padding: 100px;
        border: 100px;
        background-color: #eee;
        border: 2px solid #eee;
        margin: 20px;
        padding: 20px;
        width: 20%;
    }

    .box-img {
        height: 200px;
        background-position: center;
        background-size: 100% auto;
    }

    .box-title {
    }
</style>

<form asp-controller="Article" asp-action="Search" method="post">

    <div class="form-group">
        <label>Article Title</label>
        <input type="text" asp-for="Title" class="form-control" />
        <span class="text-danger" asp-validation-for="Title"></span>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Search</button>
    </div>

</form>


@if (ViewBag.IsSearch == true)
{
    if (ViewBag.FoundArticle.Count != 0)
    {
        <div class="text-success">Article title available</div>
        <div class="row">
            @foreach (var item in (List<DAL.Models.Articles>)ViewBag.FoundArticle)
            {
                <div class="col-6">
                    <div class="card m-2 background-color-blue">
                        <div class="row">
                            <div class="col-md-5 wrapthumbnail">
                                <a href="post.html">
                                    <div class="thumbnail  img-size" style="background-image:url('@item.Photo');">
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-7">
                                <div class="card-block">
                                    <h2 class="card-title title-size">
                                        <a asp-controller="Article" asp-action="ArticleDetails" asp-route-id="@item.Id">
                                            @item.Title
                                        </a>
                                    </h2>
                                    <div class="metafooter">
                                        <div class="wrapfooter">
                                            <span class="meta-footer-thumb">
                                                <a asp-controller="Article" asp-action="ArticleDetails" asp-route-id="@item.Id">
                                                    <img class="author-thumb" src="@item.Authors.Photo" alt="">
                                                </a>
                                            </span>
                                            <span class="author-meta">
                                                <span class="post-name"><a asp-controller="Author" asp-action="AuthorDetails" asp-route-id="@item.Id">@item.Authors.Name</a></span><br />
                                                <span class="post-date">22 July 2017</span><span class="dot"></span><span class="post-read">6 min read</span>
                                            </span>
                                            <span class="post-read-more"><a href="post.html" title="Read Story"><svg class="svgIcon-use" width="25" height="25" viewbox="0 0 25 25"><path d="M19 6c0-1.1-.9-2-2-2H8c-1.1 0-2 .9-2 2v14.66h.012c.01.103.045.204.12.285a.5.5 0 0 0 .706.03L12.5 16.85l5.662 4.126a.508.508 0 0 0 .708-.03.5.5 0 0 0 .118-.285H19V6zm-6.838 9.97L7 19.636V6c0-.55.45-1 1-1h9c.55 0 1 .45 1 1v13.637l-5.162-3.668a.49.49 0 0 0-.676 0z" fill-rule="evenodd"></path></svg></a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    }
    else
    {
        <div class="text-danger">No results</div>
    }
}