@model List<Blog.DAL.Models.Admin>
@{
    ViewBag.Title = "Index";
    @inject IHttpContextAccessor HttpContextAccessor;
}

<h2>Index</h2>
@if (HttpContextAccessor.HttpContext.Session.GetString("IsLoggedIn") == "true")
{
    if (HttpContextAccessor.HttpContext.Session.GetString("LoggedInUserType") == "admin")
    {
        <a asp-controller="Admin" asp-action="CreateAdmin">Create New Admin</a>

        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Mail</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td>@item.Mail</td>

                        <td>
                            <a class="btn btn-warning" asp-action="EditAdmin" asp-route-id="@item.Id">Edit</a>
                        </td>

                        <td>
                            <a class="btn btn-danger" asp-action="DeleteAdmin" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="text-danger">لا تملك صلاحيات كافية للوصول لهذه الصفحة</div>
    }
}
else
{
    <div class="text-danger">يجيب تسجيل الدخول اولا </div>
}

