@model DAL.Models.Authors
@{
    ViewBag.Title = "DeleteAuthors";
    @inject IHttpContextAccessor HttpContextAccessor;
}

<h2>Delete Author</h2>

<form asp-controller="Author" asp-action="ConfirmDeleteAuthors" asp-route-id="@Model.Id" method="post">
    @if (HttpContextAccessor.HttpContext.Session.GetString("IsLoggedIn") == "true")
    {
        if (HttpContextAccessor.HttpContext.Session.GetString("LoggedInUserType") == "admin" || HttpContextAccessor.HttpContext.Session.GetString("LoggedInUserType") == "author")
        {
            <h4>Are you sure you want to delete?</h4>

            <ul>
                <li> @Model.Id </li>
                <li> @Model.Name </li>
                <li> @Model.Topic </li>
                <li> @Model.Photo</li>
                <li> @Model.Mail</li>
                <li> @Model.Password</li>

            </ul>

            <button class="btn btn-danger" type="submit">Delete</button>
        }
        else
        {
            <div class="text-danger">لا تملك صلاحيات كافية للوصول لهذه الصفحة</div>
        }
    }
    else
    {
        <div class="text-danger">يجيب تسجيل الدخول اولا </div>
    }
</form>

<a asp-action="Index" asp-controller="Author" class="btn btn-primary"> Return to Authors list</a>